<div class="{{ "project" | append: include.num }}">
    <div class="projBox">
        <div class="words">
        
            
            {{ include.content }}
            
        </div>
        <div class="sidesec">
                
                    <div class="projectPicture">
                            
                        <a href="{{ include.links }}"><img src="{{ include.picture }}"/></a>
                        <br>
                    </div>
                
                
                
        </div>
    </div>
</div>
