<div class="asideTitle"><span>TWITTER</span></div>
<aside class="sideLinks">
        <div class="twitter">
            <a class="twitter-timeline" data-width="300px" data-height="100%" href="https://twitter.com/polyrains?ref_src=twsrc%5Etfw">Tweets by polyrains</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="linksTitle">
            LINKS
        </div>
        <div class="mainLinks">
            <ul class="linkList" style="padding-top:10px">
                <li>
                    <img style="width: 32px;height: 32px;vertical-align:middle"src="{{ "/assets/itch.png" | absolute_url }}"/>
                    <a style="padding-left:5px;"href="https://polyrain.itch.io">itch.io</a>
                </li>
                <li>
                    <img style="width: 32px;height: 32px;vertical-align:middle"src="{{ "/assets/github.png" | absolute_url }}"/>
                    <a style="padding-left:5px;"href="https://github.com/polyrain">Github</a>
                </li>
            </ul>
        </div>
</aside>